<h1>Listing tradespeople</h1>

<table cellspacing = 20>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
	<th>Email</th>
    <th>Fully Qualified</th>
    <th>Trade</th>
	<th>Price/hour</th>
	<th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tradespeople.each do |tradesperson| %>
  <tr>
    <td><%= tradesperson.name %></td>
    <td><%= tradesperson.phone %></td>
    <td><%= tradesperson.address %></td>
	<td><%= tradesperson.email %></td>
    <td><%= tradesperson.fullyQualified %></td>
    <td><%= tradesperson.trade.name %></td>
	<td><%= tradesperson.trade.price %></td>
	<td><%= image_tag(tradesperson.photo, :size => '50x50') %></td>
    <td><%= link_to 'Show', tradesperson %></td>
    <td><%= link_to 'Edit', edit_tradesperson_path(tradesperson) %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Tradesperson', new_tradesperson_path %>
<br />

<%= link_to 'View Requests', tradespeopleRequests_path %>