<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tradesperson.name %>
</p>

<p>
  <b>Trade:</b>
  <%= @tradesperson.trade.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @tradesperson.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @tradesperson.address %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tradesperson.latitude}%2C#{@tradesperson.longitude}" %>

<p>
  <b>Email:</b>
  <%= @tradesperson.email %>
</p>

<p>
  <b>Fullyqualified:</b>
  <%= fullyQualified(@tradesperson.fullyQualified) %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@tradesperson.photo, :alt => "My Photo", :size => "50x50") %>
</p>
	
	<% if signed_in? %>
		<h2> please leave a comment</h2>
		<%= form_for([@tradesperson, Post.new], :remote=> true) do |f| %>
			<%= f.text_area :content, :rows => 3 %>
		<div class = "actions">
			<%= f.submit "Post a comment" %>
		</div>
		<%end%>
	<%end%>

	<% if @tradesperson.posts.empty? and signed_in? %>
		<h3> You are the first to comment </h3>
	<% elsif trsigned_in? %>
		<h2> Comments:</h2>
		<div id="posts">
		<% @tradesperson.posts.reverse.each do |post| %>
			<p><%= post.content %>
			Posted <%= time_ago_in_words(post.created_at) %> ago			   
		<%end%>
		</div>
	<% elsif signed_in? %>
		<h2> Comments:</h2>
		<div id="posts">
			<% @tradesperson.posts.reverse.each do |post| %>
				<p><%= post.content %>
				Posted <%= time_ago_in_words(post.created_at) %> ago by
				<%= @current_customer.name  %>  </p>		   
			<%end%>
		</div>
	<%end%> 


<%= link_to 'Edit', edit_tradesperson_path(@tradesperson) %> |

