<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@customer.photo, :alt => "My Photo", :size => "100x100") %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Make New Request', new_request_path %>
