<%= form_for(@request, validate: true) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :desription %>tr
  </div>
  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.text_field :startDate, :id => :datepicker %>
  </div>
  
  <h3> Tradespeople in your area </h3>
  <table border="1">
		<tr>
		<th>Tradesperson Name</th>
		<th>Trade</th>
		<th>Fully qualified</th>
		<th>Location</th>
		</tr>
		<% @nearbyTs.each do |tr| %>
			<tr>
			<td><%= tr.name %></td>
			<td><%= tr.trade.name %></td>
			<td><%= fullyQualified(tr.fullyQualified) %></td>
			<td><%= tr.address %></td>
		<% end %>
		</tr>
		</table>
		
  <h3> Choose Tradesperson </h3>	
  <%= f.collection_select :tradesperson_id, @nearbyTs.all, :id, :name %>
  </br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
