<p>
	<table border="1">
		<tr>
		<th>Customer Name</th>
		<th>Location</th>
		<th>Description</th>
		<th>Start Date</th>
		</tr>
	<% if !@tradesperson.requests.empty? %>
		<b>Requests for <%= @tradesperson.name %> </b> <br \>
		<% @tradesperson.requests.each do |request| %>
		<tr>
		<td><%= request.customer.name %></td>
		<td><%= request.customer.address %></td>
		<td><%= request.desription %></td>
		<td><%= request.startDate %></td>
		
	<% end %>
		</tr>
		</table>
		
		<% else %>
		<b>No Requests
		<% end %>
</p>