<% if signed_in? %>
<p>
	<table border="1">
		<tr>
		<th>Trade</th>
		<th>Tradesperson</th>
		<th>Description</th>
		<th>Start Date</th>
		<th>Location</th>
		</tr>
	<% if !@customer.requests.empty? %>
		<b>Requests By <%= @customer.name %> </b> <br \>
		<% @customer.requests.each do |request| %>
		<tr>
		<td><%= request.tradesperson.trade.name %></td>
		<td><%= request.tradesperson.name %></td>
		<td><%= request.desription %></td>
		<td><%= request.startDate %></td>
		<td><%= @customer.address %></td>
		
	<% end %>
		</tr>
		</table>
		
	<% else %>
		<b>No Requests
	<% end %>
</p>
<%end%>
