<h1 align="center">Listing trades</h1>
<table cellspacing = 20 align="center">
  <tr>
    <th>Name</th>
    <th>Price/hour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trades.each do |trade| %>
  <tr>
    <td><%= trade.name %></td>
    <td><%= euro(trade.price) %></td>
    <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
	<td><%= link_to 'Destroy', trade, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if trsigned_in? %>
<%= link_to 'New Trade', new_trade_path %>
<% end %>
