<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trade.name %>
</p>

<p>
  <b>Price/hour:</b>
  <%= @trade.price %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
